//
// Plan Dialog
//
template(name="planDialog")
  .material-dialog-background
    .material-dialog
      +autoForm id="planDialog" collection="Plans"
        .dialog-title New Plan

        .dialog-content
          +UI.dynamic template="inputText" data=planName
          +UI.dynamic template="inputText" data=planLink
          +UI.dynamic template="inputText" data=planDescription

        .dialog-actions
          button.button.flat-button.save-button(type="submit") save
          button.button.flat-button.cancel-button(type="button") cancel

//
// Edit Plan Dialog
//
template(name="editPlanDialog")
  .material-dialog-background
    .material-dialog
      +autoForm id="editPlanDialog" collection="Plans" doc=editingDoc
        .dialog-title Edit Plan

        .dialog-content
          +UI.dynamic template="inputText" data=planName
          +UI.dynamic template="inputText" data=planLink
          +UI.dynamic template="inputText" data=planDescription

        .dialog-actions
          button.button.flat-button.save-button(type="submit") update
          button.button.flat-button.cancel-button(type="button") cancel

//
// Module Dialog
//
template(name="moduleDialog")
  .material-dialog-background
    .material-dialog
      +autoForm id="moduleDialog" collection="Modules"
        .dialog-title New Module

        .dialog-content
          +UI.dynamic template="inputText" data=moduleName
          +UI.dynamic template="inputText" data=moduleLink
          +UI.dynamic template="inputText" data=moduleDescription

        .dialog-actions
          button.button.flat-button.save-button(type="submit") save
          button.button.flat-button.cancel-button(type="button") cancel


//
// Edit Module Dialog
//
template(name="editModuleDialog")
  .material-dialog-background
    .material-dialog
      +autoForm id="editModuleDialog" collection="Modules" doc=editingDoc
        .dialog-title Edit Module

        .dialog-content
          +UI.dynamic template="inputText" data=moduleName
          +UI.dynamic template="inputText" data=moduleLink
          +UI.dynamic template="inputText" data=moduleDescription

        .dialog-actions
          button.button.flat-button.save-button(type="submit") update
          button.button.flat-button.cancel-button(type="button") cancel


//
// Task Dialog
//
template(name="taskDialog") 
  .material-dialog-background
    .material-dialog
      +autoForm id="taskDialog" collection="Tasks"
        .dialog-title New Task

        .dialog-content
          +UI.dynamic template="inputText" data=taskName
          +UI.dynamic template="inputText" data=taskLink
          +UI.dynamic template="inputText" data=taskDescription

        .dialog-actions
          button.button.flat-button.save-button(type="submit") save
          button.button.flat-button.cancel-button(type="button") cancel


//
// Edit Task Dialog
//
template(name="editTaskDialog") 
  .material-dialog-background
    .material-dialog
      +autoForm id="editTaskDialog" collection="Tasks" doc=editingDoc
        .dialog-title New Task

        .dialog-content
          +UI.dynamic template="inputText" data=taskName
          +UI.dynamic template="inputText" data=taskLink
          +UI.dynamic template="inputText" data=taskDescription

        .dialog-actions
          button.button.flat-button.save-button(type="submit") update
          button.button.flat-button.cancel-button(type="button") cancel








