template(name="inputText")
  .input-text
    +afFieldInput name=fieldName template="plain" required=true
    span.highlight
    span.bar
    +afFieldLabel name=fieldName template="plain"

template(name="inputTextarea")
  //.input-textarea
  //  +afFieldInput name=fieldName template="plain" required=true rows=6
  //  span.highlight
  //  span.bar
  //  +afFieldLabel name=fieldName template="plain"

  .input-textarea
    +afFieldInput name=fieldName template="plain" required=true rows=3
    span.highlight
    span.bar
    +afFieldLabel name=fieldName template="plain"
